<html>
    <head>
        <title>
            COVID0 Guidelines
        </title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <form method="POST">
            <div class="row">
                <div class="col-6">
                    <input type="text" class="form-control" name="query" placeholder="Search string">
                </div>
            </div>
            
            <div style="text-align: center; margin-bottom: 25px;">
                <button class="button" type="submit">Submit</button>
            </div>
        </form>

    </body>
</html>
